# Python bytecode files
*.pyc
__pycache__/

# Virtual environment folder#


# Environment variables file
#.flaskenv

# Database files

*.sqlite3

# Flask-Migrate migration files

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# Logs
*.log
