# Python bytecode files
*.pyc
__pycache__/

# Virtual environment folder#
venv/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# Logs
*.log
