body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: auto;,
    
}

*{font-family: "Arial";
color: rgb(195, 195, 195);}
/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #0a0a0a;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #222222;
    border: 0px none #000000;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #222222;
}

::-webkit-scrollbar-thumb:active {
    background: #585858;
}

::-webkit-scrollbar-track {
    margin: 10px;

    background: #000000;
    border: 0px none #000000;
    border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
    background: #131313;
}

::-webkit-scrollbar-track:active {
    background: #2e2e2e;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/* Main Layout Setup */
.container {
    width: 100%;
    min-height: 100%;
    height: max-content;
    position: relative;

    /* Generated Code */
    display: grid;
    grid-template-columns: 3fr 3fr 0px 400px;
    grid-template-rows: 125px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "top-bar top-bar top-bar top-bar"
        "content-panel content-panel gap right-panel";

        background-color: rgb(10, 10, 10);
}

.top-bar {
    display: grid;
    position: sticky;
    grid-template-columns: auto 1fr 125px;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo search-bar hamburger-button";
    grid-area: top-bar;
    z-index: 100;

}

.logo {
    grid-area: logo;
    position: relative;
}

.search-bar {
    grid-area: search-bar;
    position: relative;
}

.hamburger-button {
    grid-area: hamburger-button;
    position: relative;
}

.content-panel {
    grid-area: content-panel;
    position: relative;
}

.right-panel {
    grid-area: right-panel;
    position: relative;
        padding: 75px 10px 0px;
}


/* Main Layout Styling */


.search-bar {
    background-color: transparent;
}

.logo img {
    height: 60%;
    margin: 5% min(40px, 2vw) 10%;
    width: auto;
    position: relative;
    transform: scale(1);
    filter: brightness(1);
    transition: 0.1s ease-in-out;
}

.logo img:hover{
    filter: brightness(0.8);
}

.logo img:active{
    filter: brightness(0.6);
    transform: scale(0.95); 
}



/* Searchable Styling */
.dropdown-searchable {
    position: relative;
    height: 50%;
    top: 50%;
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    margin: auto;
    transform: translateY(-50%);
    background-color: rgb(7, 7, 7);
    border-radius:10px;


}

.search-bar button {
    height: 100%;
    margin: 0px;
    float: right;
    width: auto;
    position: relative;
    border: none;
    background-color: transparent;
}


.search-bar svg {
    position: relative;
    width: 90%;
    height: 90%;
    margin: auto;

    path {
        fill: #6e4b28;
    }
}

#search {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 8px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: 0px;
    border: 0px transparent;
    border-bottom: 1px solid rgb(30, 30, 30);
    border-radius: 10px;


    font-size: 1.5em !important;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue';

    text-indent: 10px;
    background-color: transparent;

    box-shadow: 0 0 10PX rgb(10, 10, 10);
}
select{
    background-color: rgb(9, 9, 9);
}
#search:focus,
#dropdown:focus+#search,
#search:active {
    border: 1px solid rgb(30, 30, 30);
    border-bottom: 0px transparent;
    outline-style: none;
    border-radius: 10px 10px 0px 0px;

}

#dropdown {
    width: 100%;
    box-sizing: border-box;
    display: none;
    /* Initially hidden */
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgb(30, 30, 30);
    border-top: 0px transparent;
    outline: none;
    top: 100%;
    /* Adjust based on input height */
    min-height: calc(40px + 1.2em);
    height: auto;
    z-index: 1000;
}

#dropdown option {
    padding: 20px 10px;
    font-size: 1.2em;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue';

    height: 1lh;
}
#dropdown[size|="2"]{
    height: calc(1lh + 40px);
}
#dropdown option:disabled{
    padding: 0;
    font-size: 0;
    height: 0;
}

option:checked{
    background-color: #171717 !important;
}


/* Show details page styling */


.show_container {
    height: auto;
    display: grid;
    position: relative;
    grid-template-columns: 560px 1fr;
    grid-template-rows: 75px auto auto;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "show-title show-title"
        "show-thumbnail show-description"
        "show-episodes show-episodes";
}

.show-title {
    grid-area: show-title;
    position: relative;
}

.show-thumbnail {
    grid-area: show-thumbnail;
    position: relative;
    max-height: 675px;
    min-height: 675px;
}

.show-description {
    grid-area: show-description;
    position: relative;
    height: auto;
}

.show-description > p{
    padding: 0px 50px 0px 30px;
    word-wrap:break-word;
    white-space: pre-line;
    

}

.show-episodes {
    grid-area: show-episodes;
    position: relative;
}

.show-title > p{
    width: calc(100% - 50px);
    height: min-content;
    text-align: left;
    padding: 0;
    padding-left: 50px;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);

    font-size: 25px;
}

.show-thumbnail > img{
    height: 100%;
    border-radius: 10px;
    position: relative;
    width: 500px;
    margin-left: 30px;
    object-position: 50% 50%;
    object-fit:cover;
}


#main{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: end ;
    height: auto;
}

#main > .show-container{
    width: 300px;
    height: calc(400px + 4lh);
    margin: 20px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(1);
    transition: 0.15s cubic-bezier(0.73, 0.04, 0.52, 1.53);
    transition-delay: 0.1s;
    >img{
        width: 300px;
        height: 400px;
        object-position: 50% 50%;
        object-fit:cover;
        border-radius: 10px 10px 0px 0px;   
        
    }
    
    >p{
        margin: 0;
        padding: 5px 15px;
    }

}
#main > .show-container::before{
    content: "";
    display: block;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 25%, rgba(0,0,0,0.5) 70%);
    width: 300px;
    height: 400px;
    
}

#main > .show-container:hover{
    transform: scale(1.1);
}

.right-panel > .show-container, .right-panel > .episode-container{
    height: 2lh;
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: rgb(15, 15, 15);
    vertical-align: top;
    >p{
        color: #aaaaaa;
        margin: 0;
        padding: 0;
        float: left;
        width: calc(100% - 50px);

    }
    border-radius: 10px;
}
.right-panel > .show-container:nth-child(2n),.right-panel > .episode-container:nth-child(2n){
    background-color: rgb(23, 23, 23);

    .triangle::before{
        border-color: transparent transparent transparent rgb(23, 23, 23);

    }
}


.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1lh 0 1lh 1.2lh;
    border-color: transparent transparent transparent rgb(10, 10, 10);
    transform: rotate(0deg);
    position: relative;
    left:-20px;
    float: left;
 }
 .triangle::before{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.5lh 0 0.5lh 0.6lh;
    border-color: transparent transparent transparent rgb(15, 15, 15);
    transform: rotate(0deg);
    position: relative;
    left:-20px;
    top: calc(-0.5lh - 0lh);
    float: left;

    content: "";
 }


 .episode-info{
    width: 100%;
    .episode-name>p{
        width: calc(100% - 40px);
        padding: 0px 20px;
        text-align: left;
    }
    .episode-description>p{
        padding: 0px 20px;
    }
    video{
        width: calc(100% - 20px);
        padding: 0px 10px;
        height: auto;
    }
}

.hamburger-menu{
    height: calc(100% - 30px);
    padding: 15px 0px;
    
    >a{
        height: calc(50% - 10px);
        width: calc(100% - 20px);
        margin: 5px 10px;
        display: block;
        background-color: #6e4b28;
        text-align: center;
        line-height: 37.5px;
        border-radius: 10px;
        text-decoration: none;
        transition: 0.15s ease-in-out;
        transform: scale(1);

    }
    >a:hover{
        background-color: #4d341b;
    }
    >a:active{
        background-color: #3a2917;
        transform: scale(0.9);

    }
}


@media screen and (max-width: 1280px) {
    
    .show_container{
        display: grid;
        position: relative;
        grid-template-columns: 100%;
        grid-template-rows: 75px 675px auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "show-title"
            "show-thumbnail"
            "show-description"
            "show-episodes";
    }

  

    .container {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;

    /* Generated Code */
    display: grid;
    grid-template-columns: 280px calc(280px + 1fr) 0px 400px;
    grid-template-rows: 125px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "top-bar top-bar top-bar top-bar"
        "content-panel content-panel gap right-panel";
    }



}


@media screen and (max-width: 1000px) {
    
    .show_container {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: calc(3lh + 10px) auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "show-title"
            "show-thumbnail"
            "show-description"
            "show-episodes";
    }

    .container {
        margin-left: 50%;
        transform: translateX(-50%);
        min-height: 100%;
        height: auto;
        position: relative;
        width: 100%;

        /* Generated Code */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 1fr auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "top-bar"
            "content-panel"
            "right-panel";
    }

    .gap{
        display: none;
    }
    .content-panel{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .right-panel > .show-container, .right-panel > .episode-container{
        width: calc(100% - 40px);
        padding: 10px 20px;
        position: relative;
        >p{
            color: #aaaaaa;
            margin: 0;
            padding: 0;
            float: left;
            width: calc(100% - 50px);
    
        }
        border-radius: 10px;
    }
    .show-description{
        width: 100%;
        p{
            width:calc(100cqw - 80px);
        }
    }

    .show-thumbnail{
        position: relative;
        width: calc(100% - 4%);
        max-height: unset;
        min-height: unset;
        height: auto;
    }

    .show-thumbnail img{
            margin: 0 5%;
            width: 95%;
            position: relative;
            min-width: unset;
            min-height: unset;        
            height: auto;
            aspect-ratio: 3/4;            
            }

    .hamburger-menu{
        >a{
            width: calc(100% - 20px);
            height: calc(50% - 20px);
            padding: 10px;
            display: block;
            text-align: right;
        }
        width: auto;
    }
    .show-title p{
        text-align: center;
        text-indent: 0px;
        height: auto;
        margin-bottom: 5px;
        width: calc(100% - 40px);
        padding: 0px 20px;
        font-size:25px;
    }
    .triangle, .search-bar, .hamburger-button{
        display: none;
    }

    .dropdown-searchable{
        width: 100%;
        min-width: unset;
        max-width: unset;

    }

    .top-bar {
        display: grid;
        position: sticky;
        grid-template-columns: 1fr;
        grid-template-rows: 100%;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "logo";
        grid-area: top-bar;
        z-index: 100;
    
    }
    .show-container{
        min-width: unset;
        max-width: unset;
    }
    .right-panel{
        padding: 25px 20px 0px;
    }

    .episode-info{
        width: 100%;
        .episode-name>p{
            text-align: center;
        }
        .episode-description>p{
            padding: 0px 20px;
        }
        video{
            width: calc(100% - 20px);
            padding: 0px 10px;
            height: auto;
        }
    }
    .logo img {
        height: 60%;
        margin: 20px 0px 10%;
        left:50%;
        transform: translateX(-50%);
        width: auto;
        position: relative;
    }

    .logo img:active{
        transform: scale(0.95) translateX(-50%);
    }
}

