{% extends 'main_template.html' %}

{% block content %}
<div class="episode-info">
    <div class="episode-name">

        <p>
            {{ current_episode.title }}
        </p>

    </div>
    <div class="episode-video">
        <!--<video src="{{ url_for('uploaded_file', filename=current_episode.episode_video) }}" alt="Show Thumbnail">-->
            <video width="320" height="240" controls>
                <source src="{{ url_for('uploaded_file', filename=current_episode.episode_video) }}" type="video/mp4">
              Your browser does not support the video tag.
              </video>
    </div>
    <div class="episode-description">
        <p>
            {{ current_episode.description }}
        </p>
    </div>
    <!--
    <div class="show-episodes">
        {% for episode in r_episode_data %}
        <div class="episode-container" data-episode-id="{{ episode.id }}">
            <p>{{ episode.title }}</p>
        </div>
        {% endfor %}
    </div>
    -->
</div>
{% endblock %}
