{% extends 'main_template.html' %}


{% block content %}
<div class="show_container">
    <div class="show-title">
        <p>
            {{ show_data.title }}
        </p>
    </div>
    <div class="show-thumbnail">
        <img src="{{ url_for('uploaded_file', filename=show_data.show_thumbnail) }}" alt="Show Thumbnail">
    </div>
    <div class="show-description">
        <p>
            {{ show_data.description }}
        </p>
    </div>
    <div class="show-episodes">
        {% for episode in episode_data %}
        <div class="episode-container" data-episode-id="{{ episode.id }}">
            <p>{{ episode.title }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}