<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}
        {{title}}
        {% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">My Flask App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('add_show') }}">Add Show</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('add_episode') }}">Add Episode</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <video src="{{ url_for('static', filename='movies/'+ videoID +'.mp4')}}" controls></video>
        {{ content }}
    </main>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>