<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script>
        function htmlFixer(htmlString){
            newString = htmlString;
            newString = newString.replace(/&lt;/g, '<');
            newString = newString.replace(/&gt;/g, '>');
            return htmlString;
        }

        function codeAddress() {

            document.getElementsByClassName("logo")[0].onclick = function () {
                    window.location.href = "{{ url_for('index') }}";
            }   
            /*
                gets the data from flask
                converts &lt; &gt; to '<' and '>'

                adds the compiled html structure to the main
                
                edit: code removed cuz we started using the proper way of doing this :D
                document.getElementById("main").innerHTML = htmlFixer(document.getElementById("main").innerHTML);
                document.getElementById("right-panel").innerHTML = htmlFixer(document.getElementById("right-panel").innerHTML);
            */
                
            /*
                This part of the code will only produce meaningful values when it ran on '/' or '/index/'
                
                it is goint to generate onclick functions for each 'show-container' div

                when clicked, code will redirect us from index to /shows/<show_id> page
            */
            shows = document.getElementsByClassName("show-container");
            showsArray = [...shows];
            showsArray.forEach(elem => {
                elem.onclick = function () {
                    window.location.href = "{{ url_for('show_page') }}" + encodeURIComponent(elem.dataset.showId);
            }   
            });



            /*
                This part of the code will only produce meaningful values when it ran on '/show/<show_id>'
                
                it is goint to generate onclick functions for each 'episode-container' div

                when clicked, code will redirect us from index to /watch/<watch_id> page
            */
            episodes = document.getElementsByClassName("episode-container");
            episodesArray = [...episodes];
            episodesArray.forEach(elem => {
                elem.onclick = function () {
                    window.location.href = "{{ url_for('episode_page') }}" + encodeURIComponent(elem.dataset.episodeId);
            }   
            });
            

        }
        window.onload = codeAddress;
    </script>

</head>

<body>
    <div class="container">
        <div class="top-bar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/normal-logo.png') }}" alt="Logo">
            </div>
            <div class="search-bar">

                <div class="dropdown-searchable">

                    <select name="show-id" id="dropdown" size="5">
                        {% for id, name in autofill_data.items() %}
                        <option onclick="window.location.href = '{{url_for('show_page',show_id=id)}}'">{{name}}</option>
                        {% endfor %}
                        <option disabled></option>


                    </select>

                    <input type="text" id="search" placeholder="Search..." autocomplete="off">
                    
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="240px" height="240px">
                            <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z" />
                        </svg>
                    </button>
                </div>

            </div>
            
            <div class="hamburger-button">

                <div class="hamburger-menu">
                    <a href="{{ url_for('add_show') }}">addshow</a>
                    <a href="{{ url_for('add_episode') }}">addepisode</a>
                </div>

            </div>
        </div>
        <div class="content-panel">
            <main id="main">
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <div class="gap"></div>
        <div id="right-panel" class="right-panel">
            {% for episode in r_episode_data %}
                <div class="episode-container" data-episode-id="{{ episode.id }}">
                    <div class="triangle"></div>
                    <p>{{ episode.title }}</p>
                </div>
            {% endfor %}

            {% for show in r_show_data %}
                <div class="show-container" data-show-id="{{ show.id }}">
                    <div class="triangle"></div>
                    <p>{{ show.title }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/add-episode-searchabledropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searchable.js') }}"></script>

    <script>
    </script>

</body>

</html>